@font-face {
    font-family: Dancing;
    src: url("../fonts/Dancing_Script/static/DancingScript-Regular.ttf");
    font-weight: normal;
}
*{
    
    margin: 0%;
    padding: 1%; 
    margin-left: auto;
    margin-right: auto;  
    font-family: Dancing;
    text-align: center;
}
body{
    background-color: rgb(0, 0, 0);
}
h2{
    
    background-color: rgba(0, 0, 0, 0.986);
    color:rgba(255, 255, 255, 0.808);
    font-family: Arial, Helvetica, sans-serif;
     
    
}
pai{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    
}
#n1{
    width: 900px;
    height: 850px;
    border-radius: 8px;
    
    display: flexbox;
    flex-wrap: wrap;
    background-color: rgb(45, 45, 190);
    color: rgb(0, 0, 0);
    font-size: x-large;
    text-align: left;
    
}
#imag{
    width: 700px;
    max-height: max-content;
    border-radius: 8px;
    border-color: aqua;
    border: 1cm;
    display: flexbox;
    flex-wrap: wrap;
    text-align: center;
}